*.class

# Package Files #
*.jar
*.war
*.ear
*.iml

.classpath
.idea
.project
.settings/*
target/*
api/.classpath
api/.project
api/.settings/*
api/target/*
omod/.classpath
omod/.project
omod/.settings/*
omod/target/*
/.settings

*/create_stored_procedures.sql
*/liquibase_create_stored_procedures.sql

api/src/main/resources/mamba/*
